<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sravya.example.com.techydukhaan">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".InitialSplashScreenActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MyProductsActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ProdAddActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".UpdateProductActivity" />
        <activity android:name="com.microsoft.windowsazure.mobileservices.authentication.RedirectUrlActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="easyauth.callback"
                    android:scheme="techydukhaan1234" />
            </intent-filter>
        </activity>
        <activity android:name=".EditProfileActivity" />
        <activity android:name=".ResultsActivity" />
        <activity android:name=".RequestActivity" />
        <activity
            android:name=".CardMainActivity"
            android:label="@string/title_activity_card_main"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>